<table align="left"><tr><td>
<a href="https://colab.research.google.com/github/rickiepark/python4daml/blob/main/10장.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="코랩에서 실행하기"/></a>
</td></tr></table>

# 10장 클래스와 객체 지향 프로그래밍

## 10.1 추상 데이터 타입과 클래스

In [1]:
class Toy(object): 
    def __init__(self): 
        self._elems = [] 
    def add(self, new_elems): 
        """new_elems는 리스트입니다""" 
        self._elems += new_elems 
    def size(self): 
        return len(self._elems)

In [2]:
print(type(Toy)) 
print(type(Toy.__init__), type(Toy.add), type(Toy.size))

<class 'type'>
<class 'function'> <class 'function'> <class 'function'>

In [3]:
t1 = Toy() 
print(type(t1)) 
print(type(t1.add)) 
t2 = Toy() 
print(t1 is t2) #객체 동일성 테스트

<class '__main__.Toy'>
<class 'method'>
False

In [4]:
t1 = Toy() 
t2 = Toy() 
t1.add([3, 4]) 
t2.add([4]) 
print(t1.size() + t2.size())

3

그림 10-1 `IntSet` 클래스

In [5]:
class IntSet(object): 
    """IntSet은 정수 집합입니다""" 
       #(추상이 아닌) 구현에 대한 정보:
       #한 집합의 값은 정수 리스트 self._vals로 표현됩니다. 
       #집합에 속한 정수는 self._vals에 정확히 한 번만 등장합니다. 

    def __init__(self): 
        """빈 정수 집합을 만듭니다""" 
        self._vals = [] 

    def insert(self, e): 
        """e는 정수라고 가정하고 self에 추가합니다""" 
        if e not in self._vals: 
            self._vals.append(e) 

    def member(self, e): 
        """e는 정수라고 가정합니다.
           e가 self에 있으면 True, 아니면 False를 반환합니다""" 
        return e in self._vals 

    def remove(self, e): 
        """e는 정수라고 가정합니다.
           e를 self에서 제거합니다. e가 self에 없다면 ValueError가 발생됩니다""" 
        try: 
            self._vals.remove(e) 
        except: 
            raise ValueError(str(e) + '를 찾지 못했습니다') 

    def get_members(self): 
        """self._vals에 담긴 리스트를 반환합니다.
           원소의 순서는 보장되지 않습니다""" 
        return self._vals[:] 

    def __str__(self): 
        """self의 문자열 표현을 반환합니다""" 
        if self._vals == []: 
            return '{}' 
        self._vals.sort() 
        result = '' 
        for e in self._vals: 
            result = result + str(e) + ',' 
        return f'{{{result[:-1]}}}'

In [6]:
s = IntSet() 
s.insert(3) 
print(s.member(3))

True

In [7]:
s = IntSet() 
s.insert(3) 
s.insert(4) 
print(str(s)) 
print('s의 값:', s)

{3,4}
s의 값: {3,4}

**손가락 운동**

In [8]:
class IntSet(object): 
    """IntSet은 정수 집합입니다""" 
       #(추상이 아닌) 구현에 대한 정보:
       #한 집합의 값은 정수 리스트 self._vals로 표현됩니다. 
       #집합에 속한 정수는 self._vals에 정확히 한 번만 등장합니다. 

    def __init__(self): 
        """빈 정수 집합을 만듭니다""" 
        self._vals = [] 

    def insert(self, e): 
        """e는 정수라고 가정하고 self에 추가합니다""" 
        if e not in self._vals: 
            self._vals.append(e) 

    def member(self, e): 
        """e는 정수라고 가정합니다.
           e가 self에 있으면 True, 아니면 False를 반환합니다""" 
        return e in self._vals 

    def remove(self, e): 
        """e는 정수라고 가정합니다.
           e를 self에서 제거합니다. e가 self에 없다면 ValueError가 발생됩니다""" 
        try: 
            self._vals.remove(e) 
        except: 
            raise ValueError(str(e) + '를 찾지 못했습니다') 

    def get_members(self): 
        """self._vals에 담긴 리스트를 반환합니다.
           원소의 순서는 보장되지 않습니다""" 
        return self._vals[:] 

    def __str__(self): 
        """self의 문자열 표현을 반환합니다""" 
        if self._vals == []: 
            return '{}' 
        self._vals.sort() 
        result = '' 
        for e in self._vals: 
            result = result + str(e) + ',' 
        return f'{{{result[:-1]}}}' 

    def union(self, other): 
        """other는 IntSet 객체입니다.
        self와 other에 있는 원소를 포함하도록 self를 수정하세요"""
        for e in other.get_members():
            self.insert(e)

In [9]:
s1 = IntSet() 
s1.insert(1) 
s1.insert(2)
s2 = IntSet() 
s2.insert(2) 
s2.insert(3) 
s1.union(s2)
print(s1)

{1,2,3}

### 10.1.1 매직 메서드와 해싱 가능한 타입

그림 10-2 매직 메서드 사용하기

In [10]:
class Toy(object): 
    def __init__(self): 
        self._elems = [] 
    def add(self, new_elems): 
        """new_elems는 리스트입니다""" 
        self._elems += new_elems 
    def __len__(self): 
        return len(self._elems) 
    def __add__(self, other): 
        new_toy = Toy() 
        new_toy._elems = self._elems + other._elems 
        return new_toy 
    def __eq__(self, other): 
        return self._elems == other._elems 
    def __str__(self): 
        return str(self._elems) 
    def __hash__(self): 
        return id(self) 

t1 = Toy() 
t2 = Toy() 
t1.add([1, 2]) 
t2.add([3, 4]) 
t3 = t1 + t2 
print('t3의 값', t3) 
print('t3의 길이', len(t3)) 
d = {t1: 'A', t2: 'B'} 
print(d[t1], '은(는) 키 t1에 연관된 값입니다.')

t3의 값 [1, 2, 3, 4]
t3의 길이 4
A 은(는) 키 t1에 연관된 값입니다.

**손가락 운동**

In [11]:
class IntSet(object): 
    """IntSet은 정수 집합입니다""" 
       #(추상이 아닌) 구현에 대한 정보:
       #한 집합의 값은 정수 리스트 self._vals로 표현됩니다. 
       #집합에 속한 정수는 self._vals에 정확히 한 번만 등장합니다. 

    def __init__(self): 
        """빈 정수 집합을 만듭니다""" 
        self._vals = [] 

    def insert(self, e): 
        """e는 정수라고 가정하고 self에 추가합니다""" 
        if e not in self._vals: 
            self._vals.append(e) 

    def member(self, e): 
        """e는 정수라고 가정합니다.
           e가 self에 있으면 True, 아니면 False를 반환합니다""" 
        return e in self._vals 

    def remove(self, e): 
        """e는 정수라고 가정합니다.
           e를 self에서 제거합니다. e가 self에 없다면 ValueError가 발생됩니다""" 
        try: 
            self._vals.remove(e) 
        except: 
            raise ValueError(str(e) + '를 찾지 못했습니다') 

    def get_members(self): 
        """self._vals에 담긴 리스트를 반환합니다.
           원소의 순서는 보장되지 않습니다""" 
        return self._vals[:] 

    def __str__(self): 
        """self의 문자열 표현을 반환합니다""" 
        if self._vals == []: 
            return '{}' 
        self._vals.sort() 
        result = '' 
        for e in self._vals: 
            result = result + str(e) + ',' 
        return f'{{{result[:-1]}}}' 

    def __add__(self, other): 
        """other는 IntSet 객체입니다.
        self와 other에 있는 원소를 포함하도록 self를 수정하세요"""
        for e in other.get_members():
            self.insert(e)
        return self

In [12]:
s1 = IntSet() 
s1.insert(1) 
s1.insert(2)
s2 = IntSet() 
s2.insert(2) 
s2.insert(3) 
s3 = s1 + s2
print(s3)

{1,2,3}

### 10.1.2 추상 데이터 타입을 사용해 프로그램 설계하기

### 10.1.3 학생 관리를 위한 클래스

그림 10-3 `Person` 클래스

In [13]:
import datetime 

class Person(object): 

    def __init__(self, name): 
        """name은 문자열이라고 가정합니다. Person 객체를 만듭니다""" 
        self._name = name 
        try: 
            last_blank = name.rindex(' ') 
            self._last_name = name[last_blank+1:] 
        except: 
            self._last_name = name 
        self.birthday = None 

    def get_name(self): 
        """self의 전체 이름을 반환합니다""" 
        return self._name 

    def get_last_name(self): 
        """self의 성을 반환합니다""" 
        return self._last_name 

    def set_birthday(self, birthdate): 
        """birthdate는 datetime.date 타입이라고 가정합니다
           self의 생일을 birthdate로 설정합니다""" 
        self._birthday = birthdate 

    def get_age(self): 
        """self의 현재 나이를 날짜 단위로 반환합니다""" 
        if self._birthday == None: 
            raise ValueError 
        return (datetime.date.today() - self._birthday).days 

    def __lt__(self, other): 
        """other는 Person 객체라고 가정합니다.
           self가 알파벳 순서로 other보다 앞에 있으면 True, 그렇지 않으면 False를 반환합니다.
           성을 기준으로 비교하지만 같을 경우 전체 이름을 비교합니다""" 
        if self._last_name == other._last_name: 
            return self._name < other._name 
        return self._last_name < other._last_name 

    def __str__(self): 
        """self의 이름을 반환합니다""" 
        return self._name

In [14]:
me = Person('Michael Guttag') 
him = Person('Barack Hussein Obama') 
her = Person('Madonna') 
print(him.get_last_name()) 
him.set_birthday(datetime.date(1961, 8, 4)) 
her.set_birthday(datetime.date(1958, 8, 16)) 
print(him.get_name(), '의 나이는', him.get_age(), '일 입니다')

Obama
Barack Hussein Obama 의 나이는 22386 일 입니다

In [15]:
pList = [me, him, her] 
for p in pList: 
    print(p) 
pList.sort() 
for p in pList: 
    print(p)

Michael Guttag
Barack Hussein Obama
Madonna
Michael Guttag
Madonna
Barack Hussein Obama

## 10.2 상속

그림 10-4 `MITPerson` 클래스

In [16]:
class MITPerson(Person): 

    _next_id_num = 0 #식별 번호

    def __init__(self, name): 
        super().__init__(name) 
        self._id_num = MITPerson._next_id_num 
        MITPerson._next_id_num += 1 

    def get_id_num(self): 
        return self._id_num 

    def __lt__(self, other): 
        return self._id_num < other._id_num

In [17]:
p1 = MITPerson('Barbara Beaver') 
print(str(p1) + '\'s 식별 번호: ' + str(p1.get_id_num()))

Barbara Beaver's 식별 번호: 0

In [18]:
p1 = MITPerson('Mark Guttag') 
p2 = MITPerson('Billy Bob Beaver') 
p3 = MITPerson('Billy Bob Beaver') 
p4 = Person('Billy Bob Beaver')

In [19]:
print('p1 < p2 =', p1 < p2) 
print('p3 < p2 =', p3 < p2) 
print('p4 < p1 =', p4 < p1)

p1 < p2 = True
p3 < p2 = False
p4 < p1 = True

In [20]:
print('p1 < p4 =', p1 < p4)

AttributeError: ignored

**손가락 운동**

In [21]:
class Politician(Person): 
    """Politician은 한 정당에 소속할 수 있는 Person입니다""" 

    def __init__(self, name, party = None): 
        """name과 party는 문자열입니다""" 
        super().__init__(name) 
        self._party = party

    def get_party(self): 
        """self가 소속된 정당을 반환합니다""" 
        return self._party

    def might_agree(self, other): 
        """self와 other가 같은 정당에 속하거나 둘 중 하나가 정당에 소속되지 않으면 True,
           그렇지 않으면 False를 반환합니다""" 
        if self._party == other._party or \
            self._party == None or other._party == None:
            return True
        return False

In [22]:
po1 = Politician('Jimmy', 'Demo')
po2 = Politician('Jack', 'Repub')
po3 = Politician('Sean', 'Demo')
po4 = Politician('Jay')

print(po1.might_agree(po2))
print(po1.might_agree(po3))
print(po1.might_agree(po4))

False
True
True

### 10.2.1 다단계 상속

그림 10-5 두 종류의 학생

In [23]:
class Student(MITPerson): 
    pass 

class UG(Student): 
    def __init__(self, name, class_year): 
        super().__init__(name) 
        self._year = class_year 
    def get_class(self): 
        return self._year 

class Grad(Student): 
    pass

In [24]:
p5 = Grad('Buzz Aldrin') 
p6 = UG('Billy Beaver', 1984) 
print(p5, '는 졸업생입니다:', type(p5) == Grad) 
print(p5, '는 학부생입니다:', type(p5) == UG)

Buzz Aldrin 는 졸업생입니다: True
Buzz Aldrin 는 학부생입니다: False

In [25]:
class MITPerson(Person): 

    _next_id_num = 0 #식별 번호

    def __init__(self, name): 
        super().__init__(name) 
        self._id_num = MITPerson._next_id_num 
        MITPerson._next_id_num += 1 

    def get_id_num(self): 
        return self._id_num 

    def __lt__(self, other): 
        return self._id_num < other._id_num 

    def is_student(self): 
        return isinstance(self, Student)

class Student(MITPerson): 
    pass 

class UG(Student): 
    def __init__(self, name, class_year): 
        super().__init__(name) 
        self._year = class_year 
    def get_class(self): 
        return self._year 

class Grad(Student): 
    pass 

p3 = MITPerson('Billy Bob Beaver') 
p5 = Grad('Buzz Aldrin') 
p6 = UG('Billy Beaver', 1984)

In [26]:
print(p5, '는 학생입니다:', p5.is_student()) 
print(p6, '는 학생입니다:', p6.is_student()) 
print(p3, '는 학생입니다:', p3.is_student())

Buzz Aldrin 는 학생입니다: True
Billy Beaver 는 학생입니다: True
Billy Bob Beaver 는 학생입니다: False

In [27]:
class TransferStudent(Student): 

    def __init__(self, name, from_school): 
        MITPerson.__init__(self, name) 
        self._from_school = from_school 

    def get_old_school(self): 
        return self._from_school

In [28]:
p7 = TransferStudent('Haesun Park', 'Korea National Open University')
print(p7, '는 학생입니다:', p7.is_student())

Haesun Park 는 학생입니다: True

**손가락 운동**

In [29]:
isinstance('ab', str) == isinstance(str, str)

False

### 10.2.2 대체 원칙

## 10.3 캡슐화와 정보 은닉

그림 10-6 `Grades` 클래스

In [30]:
class Grades(object): 

    def __init__(self): 
        """빈 성적표를 만듭니다""" 
        self._students = [] 
        self._grades = {} 
        self._is_sorted = True 

    def add_student(self, student): 
        """가정: student는 Student 타입니다.
           student를 성적표에 추가합니다""" 
        if student in self._students: 
            raise ValueError('Duplicate student') 
        self._students.append(student) 
        self._grades[student.get_id_num()] = [] 
        self._is_sorted = False 

    def add_grade(self, student, grade): 
        """가정: grade는 float입니다.
           grade를 student의 성적 목록에 추가합니다""" 
        try: 
            self._grades[student.get_id_num()].append(grade) 
        except: 
            raise ValueError('존재하지 않는 학생입니다') 

    def get_grades(self, student): 
        """학생의 성적 목록을 반환합니다""" 
        try: 
            return self._grades[student.get_id_num()][:] 
        except: 
            raise ValueError('존재하지 않는 학생입니다') 

    def get_students(self): 
        """성적표에 있는 정렬된 학생 목록을 반환합니다""" 
        if not self._is_sorted: 
            self._students.sort() 
            self._is_sorted = True 
        return self._students[:]

In [31]:
course = Grades() 
course.add_student(Grad('Bernie')) 
all_students = course.get_students() 
all_students.append(Grad('Liz'))

그림 10-7 성적 리포트 생성하기

In [32]:
def grade_report(course): 
    """course는 Grades 타입이라 가정합니다""" 
    report = '' 
    for s in course.get_students(): 
        tot = 0.0 
        num_grades = 0 
        for g in course.get_grades(s): 
            tot += g 
            num_grades += 1 
        try: 
            average = tot/num_grades 
            report = f"{report}\n{s}의 평균 점수는 {average}입니다" 
        except ZeroDivisionError: 
            report = f"{report}\n{s}(은)는 받은 점수가 없습니다" 
    return report 

ug1 = UG('Jane Doe', 2021) 
ug2 = UG('Pierce Addison', 2041) 
ug3 = UG('David Henry', 2003) 
g1 = Grad('Billy Buckner') 
g2 = Grad('Bucky F. Dent') 
six_hundred = Grades() 
six_hundred.add_student(ug1) 
six_hundred.add_student(ug2) 
six_hundred.add_student(g1) 
six_hundred.add_student(g2) 
for s in six_hundred.get_students(): 
    six_hundred.add_grade(s, 75) 
six_hundred.add_grade(g1, 25) 
six_hundred.add_grade(g2, 100) 
six_hundred.add_student(ug3) 
print(grade_report(six_hundred))

Jane Doe의 평균 점수는 75.0입니다
Pierce Addison의 평균 점수는 75.0입니다
David Henry(은)는 받은 점수가 없습니다
Billy Buckner의 평균 점수는 50.0입니다
Bucky F. Dent의 평균 점수는 87.5입니다

그림 10-8 클래스의 정보 은닉

In [33]:
class InfoHiding(object): 
    def __init__(self): 
        self.visible = '이 변수를 볼 수 있습니다' 
        self.__also_visible__ = '이 변수도 볼 수 있습니다' 
        self.__invisible = '이 변수는 직접 볼 수 없습니다' 

    def print_visible(self): 
        print(self.visible) 

    def print_invisible(self): 
        print(self.__invisible) 

    def __print_invisible(self): 
        print(self.__invisible) 

    def __print_invisible__(self): 
        print(self.__invisible)

In [34]:
test = InfoHiding() 
print(test.visible) 
print(test.__also_visible__) 
print(test.__invisible)

이 변수를 볼 수 있습니다
이 변수도 볼 수 있습니다

AttributeError: ignored

In [35]:
test = InfoHiding() 
test.print_invisible() 
test.__print_invisible__() 
test.__print_invisible()

이 변수는 직접 볼 수 없습니다
이 변수는 직접 볼 수 없습니다

AttributeError: ignored

In [36]:
class SubClass(InfoHiding): 
    def new_print_invisible(self): 
        print(self.__invisible) 

test_sub = SubClass() 
test_sub.new_print_invisible()

AttributeError: ignored

### 10.3.1 제너레이터

그림 10-9 `get_students`의 새 버전

In [37]:
class Grades(object): 

    def __init__(self): 
        """빈 성적표를 만듭니다""" 
        self._students = [] 
        self._grades = {} 
        self._is_sorted = True 

    def add_student(self, student): 
        """가정: student는 Student 타입니다.
           student를 성적표에 추가합니다""" 
        if student in self._students: 
            raise ValueError('Duplicate student') 
        self._students.append(student) 
        self._grades[student.get_id_num()] = [] 
        self._is_sorted = False 

    def add_grade(self, student, grade): 
        """가정: grade는 float입니다.
           grade를 student의 성적 목록에 추가합니다""" 
        try: 
            self._grades[student.get_id_num()].append(grade) 
        except: 
            raise ValueError('존재하지 않는 학생입니다') 

    def get_grades(self, student): 
        """학생의 성적 목록을 반환합니다""" 
        try: 
            return self._grades[student.get_id_num()][:] 
        except: 
            raise ValueError('존재하지 않는 학생입니다') 

    def get_students(self): 
        """알파벳 순서대로 한 번에 하나씩 학생을 반환합니다""" 
        if not self._is_sorted: 
            self._students.sort() 
            self._is_sorted = True 
        for s in self._students: 
            yield s

In [38]:
book = Grades() 
book.add_student(Grad('Julie')) 
book.add_student(Grad('Lisa')) 
for s in book.get_students(): 
    print(s)

Julie
Lisa

**손가락 운동**

In [39]:
class Grades(object): 

    def __init__(self): 
        """빈 성적표를 만듭니다""" 
        self._students = [] 
        self._grades = {} 
        self._is_sorted = True 

    def add_student(self, student): 
        """가정: student는 Student 타입니다.
           student를 성적표에 추가합니다""" 
        if student in self._students: 
            raise ValueError('Duplicate student') 
        self._students.append(student) 
        self._grades[student.get_id_num()] = [] 
        self._is_sorted = False 

    def add_grade(self, student, grade): 
        """가정: grade는 float입니다.
           grade를 student의 성적 목록에 추가합니다""" 
        try: 
            self._grades[student.get_id_num()].append(grade) 
        except: 
            raise ValueError('존재하지 않는 학생입니다') 

    def get_grades(self, student): 
        """학생의 성적 목록을 반환합니다""" 
        try: 
            return self._grades[student.get_id_num()][:] 
        except: 
            raise ValueError('존재하지 않는 학생입니다') 

    def get_students(self): 
        """알파벳 순서대로 한 번에 하나씩 학생을 반환합니다""" 
        if not self._is_sorted: 
            self._students.sort() 
            self._is_sorted = True 
        for s in self._students: 
            yield s 
    
    def get_students_above(self, grade): 
        """평균 점수가 grade보다 큰 학생을 한 번에 하나씩 반환합니다""" 
        for s in self._students:
            grades = self.get_grades(s)
            if len(grades) > 0 and sum(grades)/len(grades) > grade:
                yield s

In [40]:
six_hundred = Grades() 
six_hundred.add_student(ug1) 
six_hundred.add_student(ug2) 
six_hundred.add_student(g1) 
six_hundred.add_student(g2) 
for s in six_hundred.get_students(): 
    six_hundred.add_grade(s, 75) 
six_hundred.add_grade(g1, 25) 
six_hundred.add_grade(g2, 100) 
six_hundred.add_student(ug3) 
for s in six_hundred.get_students_above(70):
    print(s)

Jane Doe
Pierce Addison
Bucky F. Dent

## 10.4 고급 예제

그림 10-10 `Mortgage` 클래스

In [41]:
def find_payment(loan, r, m): 
    """가정: loan과 r은 floats, m은 int입니다.
       m 개월 동안 월이자가 r일 때 모기지 금액 loan의 월 상환액을 반환합니다""" 
    return loan*((r*(1+r)**m)/((1+r)**m -1)) 

class Mortgage(object): 
    """여러 종류의 모기지를 만들기 위한 추상 클래스""" 
    def __init__(self, loan, ann_rate, months): 
        """가정: loan과 ann_rate은 float, months는 int입니다.
           대출금 load, 대출 기간 months, 연이율 ann_rate인 모기지를 만듭니다""" 
        self._loan = loan 
        self._rate = ann_rate/12 
        self._months = months 
        self._paid = [0.0] 
        self._outstanding = [loan] 
        self._payment = find_payment(loan, self._rate, months) 
        self._legend = None #모기지 설명

    def make_payment(self): 
        """월 상환액을 납입합니다""" 
        self._paid.append(self._payment) 
        reduction = self._payment - self._outstanding[-1]*self._rate 
        self._outstanding.append(self._outstanding[-1] - reduction) 

    def get_total_paid(self): 
        """지금까지 납입한 총 금액을 반환합니다""" 
        return sum(self._paid) 

    def __str__(self): 
        return self._legend

그림 10-11 `Mortgage` 서브클래스

In [42]:
class Fixed(Mortgage): 
    def __init__(self, loan, r, months): 
        Mortgage.__init__(self, loan, r, months) 
        self._legend = f'고정, {r*100:.1f}%' 

class FixedWithPts(Mortgage): 
    def __init__(self, loan, r, months, pts): 
        Mortgage.__init__(self, loan, r, months) 
        self._pts = pts 
        self._paid = [loan*(pts/100)] 
        self._legend = f'고정, {r*100:.1f}%, {pts} 포인트' 

class TwoRate(Mortgage): 
    def __init__(self, loan, r, months, teaser_rate, teaser_months): 
        Mortgage.__init__(self, loan, teaser_rate, months) 
        self._teaser_months = teaser_months 
        self._teaser_rate = teaser_rate 
        self._nextRate = r/12 
        self._legend = (f'{self._teaser_months}달 동안 ' + 
                        f'{100*teaser_rate:.1f}%, 그다음엔 {100*r:.1f}%') 
    def make_payment(self): 
        if len(self._paid) == self._teaser_months + 1: 
            self._rate = self._nextRate 
            self._payment = find_payment(self._outstanding[-1], 
                                         self._rate, 
                                         self._months - self._teaser_months) 
        Mortgage.make_payment(self) 

def compare_mortgages(amt, years, fixed_rate, pts, pts_rate, 
                      var_rate1, var_rate2, var_months): 
    tot_months = years*12 
    fixed1 = Fixed(amt, fixed_rate, tot_months) 
    fixed2 = FixedWithPts(amt, pts_rate, tot_months, pts) 
    two_rate = TwoRate(amt, var_rate2, tot_months, var_rate1, 
                       var_months) 
    morts = [fixed1, fixed2, two_rate] 
    for m in range(tot_months): 
        for mort in morts: 
            mort.make_payment() 
    for m in morts: 
        print(m) 
        print(f' 총 상환액 = ${m.get_total_paid():,.0f}')

In [43]:
compare_mortgages(amt=200000, years=30, fixed_rate=0.035, 
                  pts = 2, pts_rate=0.03, var_rate1=0.03, 
                  var_rate2=0.05, var_months=60)

고정, 3.5%
 총 상환액 = $323,312
고정, 3.0%, 2 포인트
 총 상환액 = $307,555
60달 동안 3.0%, 그다음엔 5.0%
 총 상환액 = $362,435