<table align="left"><tr><td>
<a href="https://colab.research.google.com/github/rickiepark/python4daml/blob/main/2장.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="코랩에서 실행하기"/></a>
</td></tr></table>

# 2장 파이썬 소개

## 2.1 파이썬과 파이썬 IDE 설치하기

## 2.2 파이썬의 기본 요소

In [1]:
print('Yankees rule!')
print('But not in Boston!')
print('Yankees rule,', 'but not in Boston!')

Yankees rule!
But not in Boston!
Yankees rule, but not in Boston!

### 2.2.1 객체, 표현, 수치 타입

In [2]:
3

3

In [3]:
3+2

5

In [4]:
3.0+2.0

5.0

In [5]:
3!=2

True

In [6]:
type(3)

int

In [7]:
type(3.0)

float

### 2.2.2 변수와 할당

In [8]:
pi = 3
radius = 11
area = pi * (radius**2)
radius = 14

In [9]:
a = 3.14159
b = 11.2
c = a*(b**2)

In [10]:
pi = 3.14159
diameter = 11.2
area = pi*(diameter**2)

In [11]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [12]:
side = 1 #단위 정사각형에서 한 변 길이
radius = 1 #단위 원의 반지름
#단위 정사각형의 면서에서 단위 원의 면적을 뺍니다
area_circle = pi*radius**2
area_square = side*side
difference = area_square - area_circle

In [13]:
x, y = 2, 3

In [14]:
x, y = 2, 3
x, y = y, x
print('x =', x)
print('y =', y)

x = 3
y = 2

## 2.3 프로그램 분기

In [15]:
if x%2 == 0:
    print('짝수')
else:
    print('홀수')
print('조건문 종료')

홀수
조건문 종료

In [16]:
x = 1111111111111111111111111111111 + 222222222222333222222222 +\
3333333333333333333333333333333

In [17]:
x = 1111111111111111111111111111111 + 222222222222333222222222 +
3333333333333333333333333333333

SyntaxError: ignored

In [18]:
x = (1111111111111111111111111111111 + 222222222222333222222222 +
3333333333333333333333333333333)

In [19]:
if x%2 == 0:
    if x%3 == 0:
        print('2와 3으로 나누어 떨어집니다')
    else:
        print('2로 나누어 떨어지지만 3으로 나누어 떨어지지 않습니다')
elif x%3 == 0:
    print('3으로 나누어 떨어지지만 2로 나누어 떨어지지 않습니다')

2로 나누어 떨어지지만 3으로 나누어 떨어지지 않습니다

In [20]:
x = 1
y = 2
z = 3

if x < y and x < z:
    print('x가 가장 작습니다')
elif y < z:
    print('y가 가장 작습니다')
else:
    print('z가 가장 작습니다')

x가 가장 작습니다

**손가락 운동**

In [21]:
if x%2 != 0 and y%2 != 0 and z%2 != 0:
    print(max(x, y, z))
if x%2 != 0 and y%2 != 0 and z%2 == 0:
    print(max(x, y))
if x%2 != 0 and y%2 == 0 and z%2 != 0:
    print(max(x, z))
if x%2 == 0 and y%2 != 0 and z%2 != 0:
    print(max(y, z))
if x%2 != 0 and y%2 == 0 and z%2 == 0:
    print(x)
if x%2 == 0 and y%2 != 0 and z%2 == 0:
    print(y)
if x%2 == 0 and y%2 == 0 and z%2 != 0:
    print(z)
if x%2 == 0 and y%2 == 0 and z%2 == 0:
    print(min(x, y, z))

3

In [22]:
answer = min(x, y, z)
if x%2 != 0:
    answer = x
if y%2 != 0 and y > answer:
    answer = y
if z%2 != 0 and z > answer:
    answer = z
print(answer)

3

In [23]:
x = y if y > z else z

In [24]:
print((x if x > z else z) if x > y else (y if y > z else z))

3

## 2.4 문자열과 입력

In [25]:
'a'
3*4
3*'a'
3+4
'a'+'a'

'aa'

In [26]:
new_id

NameError: ignored

In [27]:
'a'*'a'

TypeError: ignored

In [28]:
'4' < 3

TypeError: ignored

In [29]:
len('abc')

3

In [30]:
'abc'[0]

'a'

In [31]:
'abc'[3]

IndexError: ignored

In [32]:
'abc'[-1]

'c'

In [33]:
'abc'[1:3]

'bc'

In [34]:
'abc'[0:len('abc')]

'abc'

In [35]:
'abc'[:]

'abc'

In [36]:
'123456789'[0:8:2]

'1357'

In [39]:
num = 30000000
fraction = 1/2
print(num*fraction, '은', num, '의', fraction*100, '%', '입니다')
print(str(num*fraction) + '은', str(num) + '의', str(fraction*100) + '%', '입니다')

15000000.0 은 30000000 의 50.0 % 입니다
15000000.0은 30000000의 50.0% 입니다

In [40]:
print(str(int(num*fraction)) + '은', str(num) + '의', str(fraction*100) + '%', '입니다')

15000000은 30000000의 50.0% 입니다

In [41]:
print(f'{int(num*fraction)}은 {num}의 {fraction*100}% 입니다')

15000000은 30000000의 50.0% 입니다

In [50]:
print(f'{{{3*5}}}')

{15}

In [52]:
f'{3.14159:.2f}'

'3.14'

In [51]:
print(f'{num*fraction:,.0f}은 {num:,}의 {fraction*100}% 입니다')

15,000,000은 30,000,000의 50.0% 입니다

### 2.4.1 입력

In [54]:
name = input('이름을 입력하세요: ')

이름을 입력하세요: 조지 워싱톤

In [55]:
print('정말 이름이', name, '인가요?')

정말 이름이 조지 워싱톤 인가요?

In [56]:
print('정말 이름이 ' + name + '인가요?')

정말 이름이 조지 워싱톤인가요?

In [57]:
print(f'정말 이름이 {name}인가요?')

정말 이름이 조지 워싱톤인가요?

In [59]:
n = input('정수를 입력하세요: ')
print(type(n))

정수를 입력하세요: 3
<class 'str'>

In [60]:
n*4

'3333'

**손가락 운동**

In [61]:
birthday = input('생년월일을 입력하세요(mm/dd/yyyy): ')
print(f'당신은 {birthday[-4:]}년에 태어났습니다')

생년월일을 입력하세요(mm/dd/yyyy): 08/08/1971
당신은 1971년에 태어났습니다

### 2.4.2 문자 인코딩에 대한 여담

In [63]:
print('Mluvíš anglicky?')
print('क्या आप अंग्रेज़ी बोलते हैं?')

Mluvíš anglicky?
क्या आप अंग्रेज़ी बोलते हैं?

2.5 while 루프

In [64]:
num_x = int(input('문자 X를 몇 번이나 출력할까요? '))
to_print = ''
if num_x == 1:
    to_print = 'X'
elif num_x == 2:
    to_print = 'XX'
elif num_x == 3:
    to_print = 'XXX'
#...
print(to_print)

문자 X를 몇 번이나 출력할까요? 3
XXX

In [76]:
x = 3
ans = 0
num_iterations = 0
while (x != num_iterations):
    ans = ans + x
    num_iterations = num_iterations + 1
print(f'{x}*{x} = {ans}')

3*3 = 9

In [79]:
x = -3
ans = 0
num_iterations = 0
while (abs(x) != num_iterations):
    ans = ans + abs(x)
    num_iterations = num_iterations + 1
print(f'{x}*{x} = {ans}')

-3*-3 = 9

**손가락 운동**

In [84]:
num_x = int(input('문자 X를 몇 번이나 출력할까요? '))
to_print = ''
i = 0
while (i < num_x):
    to_print = to_print + 'X'
    i = i + 1
print(to_print)

문자 X를 몇 번이나 출력할까요? 3
XXX

In [85]:
#11과 12로 나눌 수 있는 양의 정수 찾기
x = 1
while True:
    if x%11 == 0 and x%12 == 0:
        break
    x = x + 1
print(x, '는 11과 12로 나눌 수 있습니다')

132 는 11과 12로 나눌 수 있습니다

**손가락 운동**